#ezLifeAutoIn-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    z-index: 9999;
}
#ezLifeAutoIn-modal .buttons {
    width: 80%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline;
    text-align: right;
}
#ezLifeAutoIn-modal .buttons button {
    margin-left: 10px;
}
#ezLifeAutoIn-modal .error {
    width: 400px;
    height: 150px;
    margin: auto;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.4);
}
#ezLifeAutoIn-modal .error h1 {
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
    color: red;
    line-height: 32px;
}
#ezLifeAutoIn-modal .error p {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
#ezLifeAutoIn-modal .input {
    width: 400px;
    height: 150px;
    margin: auto;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.4);
}
#ezLifeAutoIn-modal .input h1 {
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
    color: blue;
    line-height: 32px;
}
#ezLifeAutoIn-modal .input p {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
#ezLifeAutoIn-modal .input input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}