body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
}
.container {
    width: 250px;
    height: 300px;
    margin: 0;
    padding: 0;
}
.header {
    width: 250px;
    height: 60px;
    background-color: #1f8dd6;
    background-image: url(../images/logo.png);
}